<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>Python Prep</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-8 mx-auto pt-5">
          <a href="/csv" class="btn btn-info ml-4"> Store in CSV </a>
          <a href="/database" class="btn btn-success ml-4">
            Store in Database
          </a>
        </div>
      </div>
    </div>
    <div class="container">
      {% if err %}
      <div class="alert alert-danger mt-4" role="alert">{{err}}</div>
      {% endif %} {% if success %}
      <div class="alert alert-success mt-4" role="alert">{{success}}</div>
    </div>
    {% if csv %}
    <div class="row">
      <div class="col-8 mt-4 mx-auto">
        <h1>From CSV file</h1>
        <div class="table table-striped">{{csv | safe}}</div>
      </div>
    </div>
    {% endif %} {% if entries %}
    <div class="row">
      <div class="col-8 mt-4 mx-auto">
        <h1>From Database</h1>
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col">API</th>
              <th scope="col">Auth</th>
              <th scope="col">Category</th>
              <th scope="col">Cors</th>
              <th scope="col">Description</th>
              <th scope="col">HTTPS</th>
              <th scope="col">Link</th>
            </tr>
          </thead>
          <tbody>
            {% for entry in entries %}
            <tr>
              <td>{{entry['api']}}</td>
              <td>{{entry['auth']}}</td>
              <td>{{entry['category']}}</td>
              <td>{{entry['cors']}}</td>
              <td>{{entry['description']}}</td>
              <td>{{entry['https']}}</td>
              <td>{{entry['link']}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endif %} {% endif %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
